a.habitrpg {
	text-decoration: none;
	color: #000000;
	font-family: 'Lato', sans-serif;
}

#container-rpg {
	position: relative;
	width: 154px;
	border: 1px solid #A7C5CB;
	margin-bottom:10px;
}

#wrapper-rpg {
	margin: 0 auto;
	width: 152px;
	background-color: #D0E0E3;
	padding: 1px;
	overflow: hidden;
}

.text-rpg {
	text-align: center;
	width: 100%;
	margin-bottom: 8px;
	font-family: 'Lato', sans-serif;
}

#character-rpg {
	position: relative;
	width: 152px;
	height: 143px;
	margin: 0 auto;
	}

.base-rpg {
	position: absolute;
	top: 19px;
	left: 25px;
	z-index: 10;
}

.base-rpg-mount {
	position: absolute;
	top: -6px;
	left: 25px;
	z-index: 10;
}


.hair {
	position: absolute;
	top: 19px;
	left: 25px;
	z-index: 20;
}

.hair-mount {
	position: absolute;
	top: -6px;
	left: 25px;
	z-index: 20;
}

.gear {
	position: absolute;
	top: 19px;
	left: 25px;
	z-index: 30;
}


.gear-mount {
	position: absolute;
	top: -6px;
	left: 25px;
	z-index: 30;
}

.item-rpg {
	position: absolute;
	top: 19px;
	left: 25px;
	z-index: 35;
}


.item-mount {
	position: absolute;
	top: -6px;
	left: 25px;
	z-index: 35;
}

.pet {
	position: absolute;
	top: 45px;
	left: 0px;
	z-index: 50;
}

.mounthead {
	position: absolute;
	top: 12px;
	left: 25px;
	z-index: 40;
}

.mountbody {
	position: absolute;
	top: 12px;
	left: 25px;
	z-index: 5;
}

#meters {
	position: relative;
	width: 152px;
}

.meter-wrap{ 
	width: 150px;
	height: 17px;
	position: relative;
	background: #ebedef;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 5px auto;
	overflow: hidden;
}

.meter-wrap > div{
	height: 100%;
}

.meter-wrap .hp {
	background-color: #D64040;
}

.meter-wrap .exp {
	background-color: #FFCF42;
}

.meter-wrap .mana {
	background-color: #5288E9;
}

.meter-text {
	position: absolute;
	text-align: right; 
	width: 98%;
	margin: 0px;
	line-height: 16px;
}

[class^=icon-] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 2px;
	margin-right: 3px;
	line-height: 16px;
	vertical-align: top;
	background-image: url(./img/habitrpg/glyphicons-halfling.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.icon-fire {
	background-position: -72px -120px;
}

.icon-star {
	background-position: -120px 0;
}

.icon-heart {
	background-position: -96px 0;
}